p{
	color: gray;
	font-size: 13px;
	font-family: verdana;
	text-align: center;
	font-weight: lighter;
}
h1{
	color: gray;
	font-family: arial;
	font-size: 26px;
	font-weight: bolder;
}
h2{
	font-size: 20px;
	font-family: Verdana;
	color: red;
	font-weight: normal;
}
