h1, a{
	color: #ffa500;
	background-color: #808080;
}
p{
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 255);	
}
h2, ol{
	color: rgb(0, 0, 255);
	background-color: #ffa500;
}
.zelenapozadina {
	background-color: rgb(0, 255, 0);
	color: rgb(0, 0, 0);
}